<IfModule mod_expires.c>
  ExpiresActive On

  # Images
  ExpiresByType img/11.jpg "access plus 1 year"
  ExpiresByType img/12.jpg "access plus 1 year"
  ExpiresByType img/3.jpg "access plus 1 year"
  ExpiresByType img/4.jpg "access plus 1 year"
  ExpiresByType img/image-de-presentation.jpg "access plus 1 year"
  ExpiresByType img/la-chouette-agence-banniere.jpg "access plus 1 year"

  # Fonts
  ExpiresByType fonts/et-line.svg "access plus 1 year"
  ExpiresByType fonts/fontawesome-webfont.eot "access plus 1 year"
  ExpiresByType fonts/fontawesome-webfont.svg "access plus 1 year"

  # CSS, JavaScript
  ExpiresByType text/css "access plus 1 month"
  ExpiresByType text/javascript "access plus 1 month"
  ExpiresByType application/javascript "access plus 1 month"

  # Others
  ExpiresByType css/bootstrap.css "access plus 1 month"
  
</IfModule>